<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/dashboard_style.css">
  <link rel="stylesheet" href="/css/general_styles.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <title>Dashboard</title>
</head>

<body>
  <div class="containerx ">
    <div class="left-side shadowx">
      <div class="avatar" alt="Avatar"></div>
      <div class="greeting">Hello</div>
      <div class="username"><%=Username %></div>
      <div class="budget">$<%= Budget %></div>
      <div class="description">Current Budget</div>
      <div class="menu">
        <a href="#" class="active">Dashboard</a>
        <a href="/friends" >Friends</a>
        <a href="/settings">Settings</a>
      </div>
      <form action="/logout" method="post">
      <button class="logout" type="submit" onclick="logout()"> 
        <i class="bi bi-box-arrow-left"></i>
      </button>
    </form>
      <button class="navbar-toggle" onclick="toggleNavbar()">
        <span>&#9776;</span>
      </button>
    </div>
    <div class="right-side">
      <div class="grid-container">
        <div class="grid-item1">
          <div class="top-left shadowx">
            <form id="add-expense-form"  action="/add_expense" method="post">

            <h2>Add Expenses</h2>
            

            <select id="category" name="category">
              <option value="" disabled selected>Select Category</option>
              <option value="groceries">Groceries</option>
              <option value="entertainment">Entertainment</option>
              <option value="transportation">Transportation</option>
            </select>
            <input type="number" id="amount" name="amount" min="0" step="1" placeholder="$">
            <input type="text" id="description" name="description" placeholder="Enter Description">
            <button type ="submit" class="add-expense-btn" >Add Expense </button>
            
          </form>

          </div>
          
          
        </div>
        <div class="grid-item2">
        <div class="top-right shadowx">
          <h2>Expense Chart</h2>
          <div class="chart-container">
            <canvas id="pieChart"></canvas>
          </div>
        </div>
      </div>
        <div class="grid-item3">
          <div class="bottom-left shadowx">
            <h2>Transaction History</h2>
            <div class="list-view">
              <% items.forEach(item => { %>
                <div class="list-item">
                  <div class="item-info">
                    <div class="category">Category: <%= item.category %></div>
                    <div class="money">Money: $<%= item.money %></div>
                    <div class="date">Date: <%= item.date %></div>
                  </div>
                  <div class="description">Description: <%= item.description %></div>
                </div>
              <% }) %>
          </div>
        </div>
      </div>



        <div class="grid-item4 ">
          <div class="bottom-right shadowx">
            <h2>Total Expenses </h2>
            <div class="list-view">
                <% categories.forEach(item => { %>
                  <div class="list-item">
                    <div class="item-info">
                      <div class="category">Category: <%= item.category %></div>
                      <div class="money">Money: $<%= item.money %></div>
                    </div>
                  </div>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/script.js"></script>
<script type="text/javascript">
  function toggleNavbar() {
    const leftSide = document.querySelector('.left-side');
    leftSide.classList.toggle('open');
  }
  const categories = <%- JSON.stringify(categories) %>;
  console.log(categories);
  const ctx = document.getElementById('pieChart').getContext('2d');
  const data = {
    labels: categories.map(item => item.category),
    datasets: [
      {
        data: categories.map(item => item.money),
      },
    ],
  };

  const options = {
    responsive: true,
    maintainAspectRatio: false,
  };

  const pieChart = new Chart(ctx, {
    type: 'pie',
    data: data,
    options: options,
  });
  // Avatar update function
function updateAvatarDisplay() {
  var avatarElems = document.querySelectorAll('.avatar');
  var savedAvatar = localStorage.getItem('avatar');
  
  if (savedAvatar) {
    for (var i = 0; i < avatarElems.length; i++) {
      avatarElems[i].style.backgroundImage = 'url(' + savedAvatar + ')';
    }
  }
}

// Initial avatar load
window.onload = function() {
  updateAvatarDisplay();
}
</script>


</html>