<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/general_styles.css">
  <link rel="stylesheet" href="/css/friends_style.css">
  
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <title>Friends</title>
</head>
<script>
  function updateAvatarDisplay() {
    var avatarElems = document.querySelectorAll('.avatar');
    var savedAvatar = localStorage.getItem('avatar');
    
    if (savedAvatar) {
      for (var i = 0; i < avatarElems.length; i++) {
        avatarElems[i].style.backgroundImage = 'url(' + savedAvatar + ')';
      }
    }
  }
  
  // Initial avatar load
  window.onload = function() {
    updateAvatarDisplay();
  }
  </script>
<body>
  <div class="containerx">

    <div class="left-side shadowx">
      <div class="avatar" alt="Avatar"></div>
      <div class="greeting">Hello</div>
      <div class="username"><%=Username %></div>
      <div class="budget">$<%= Budget %></div>
      <div class="description">Current Budget</div>
      <div class="menu">
        <a href="/dashboard">Dashboard</a>
        <a href="#" class="active">Friends</a>
        <a href="/settings">Settings</a>
      </div>
      <form action="/logout" method="post">
        <button class="logout" type="submit" onclick="logout()"> 
          <i class="bi bi-box-arrow-left"></i>
        </button>
      </form>

      </button>
      <button class="navbar-toggle" onclick="toggleNavbar()">
        <span>&#9776;</span>
      </button>
    </div>

    <div class="right-side">
      <div class="grid-container">
        <div class="grid-item1">
          <div class="top-left shadowx">
            <h2>Friends List</h2>
              <div class="list-view1">
                <% friends.forEach(friend => { %>
                  <div class="list-item1">
                    <form method="get" action="/show_profile" class="reset-style">
                      <div class="item-info1">
                        <input type="hidden" name="friendname" id="friendname">
                        <div id="<%= friend.id %>" class="friend-name"><%= friend.name %></div>
                        <button type="submit" class="btn btn-primary w-30" onclick="showProfile(this)">Show Profile</button>
                      </div>
                    </form>
                  </div>
                <% }) %>
              </div>
          </div>
        </div>
        <div class="grid-item1 ">
          <div class="top-right">
            <h2>Friend Requests</h2>
            <div class="upper-div">
              <form action="/add_friend" method="post">
                <input type="text" id="username" name="username" placeholder="Enter username" />
                <button type="submit" class="send-request">Send request</button>
              </form>
            </div>            
            <div class="list-view1">
              <% Requests.forEach(request => { %>
                <div class="list-item1">
                  <div class="item-info1">
                    <span class="username"><%= request.name %></span>
                    <form action="/accept_friend" method="post">
                      <input type="hidden" name="friendname" value="<%= request.name %>">
                      <button type="submit" class="accept">✓</button>
                    </form>
                    <form action="/reject_friend" method="post">
                      <input type="hidden" name="friendname" value="<%= request.name %>">
                      <button type="submit" class="reject">✕</button>
                    </form>
                  </div>
                </div>
              <% }) %>              
            </div>
          </div>
        </div>
        <div class="grid-item1">
          <div class="bottom-left shadowx">
            <h2>Friend's Transaction History</h2>
            <div class="list-view1">
              <% items.forEach(item => { %>
                <div class="list-item1">
                  <div class="item-info1">
                    <div class="friend_username"><%= item.friend_username %></div>
                    <div class="cat_id">Category: <%= item.category %></div>
                    <div class="money">Money: $<%= item.money %></div>
                    <div class="date">Date: <%= item.date %></div>
                  </div>
                  <div class="description">Description: <%= item.description %></div>
                </div>
              <% }) %>
             
              <!-- Add more list items here -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</body>
<script >
  function showProfile(buttonElement) {
    const friendNameDiv = buttonElement.parentElement.querySelector('.friend-name');
    const friendNameInput = buttonElement.parentElement.querySelector('#friendname');
    friendNameInput.value = friendNameDiv.textContent;
}
</script>
<script src="/app.js"></script>

<script>
  function toggleNavbar() {
    const leftSide = document.querySelector('.left-side');
    leftSide.classList.toggle('open');
  }
</script>

</html>